main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f7f0;
    color: #4f2f17;
}

app-navbar,
header,
app-our-parish,
app-footer,
footer {
    width: 100%;
}