.request-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-form .form-section {
    min-width: 50%;
}

.request-form .form-section img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding-left: 10px;

}