.blockquote-box .square {
    width: 100px;
    min-height: 50px;
    margin-right: 22px;
    text-align: center !important;
    background-color: #E6E6E6;
    padding: 20px 0;
}

.blockquote-box.blockquote-primary {
    margin: 10px;
    border-right: 5px solid #357EBD;
}

.blockquote-box.blockquote-primary .square {
    background-color: #428BCA;
    color: #FFF;
}

.blockquote-box.blockquote-success {
    margin: 10px;
    border-right: 5px solid #4CAE4C;
}

.blockquote-box.blockquote-success .square {
    background-color: #5CB85C;
    color: #FFF;
}

.blockquote-box.blockquote-info {
    margin: 10px;
    border-right: 5px solid #46B8DA;
}

.blockquote-box.blockquote-info .square {
    background-color: #5BC0DE;
    color: #FFF;
}

.blockquote-box.blockquote-warning {
    margin: 10px;
    border-right: 5px solid #F0AD4E;
}

.blockquote-box.blockquote-warning .square {
    background-color: #F0AD4E;
    color: #FFF;
}

.blockquote-box.blockquote-danger {
    margin: 10px;
    border-right: 5px solid #D9534F;
}

.blockquote-box.blockquote-danger .square {
    background-color: #D9534F;
    color: #FFF;
}

.blockquote-box.blockquote-neutral {
    margin: 10px;
    border-right: 5px solid #c4bbbb;
}